<h1>About Us</h1>
<p>
    <a href="http://hotelninjas.com/">CS Travel</a> 
    is the ultimate cross-selling platform you've been waiting for!

    With CS Travel's platform you will no be able to maximize your property's revenues by offering your guests anything from a ticket to the Opera to the City Tour bus.
    
</p>
